.nav-main{
    flex-direction: row;
    display: flex;
}

.nav{
    width:300px;
    height: 100vh;
    background-color: #CDBE9D;
    position: fixed;
}

.main{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: 100vw;
    background-image: url('../img/background_pic.png');
    background-repeat: repeat-y;
    background-attachment: fixed;
    z-index: -1;
}

.click-on-home{
    font-family: 'Amaranth';
    color: black;
    font-size: 50px;
    font-weight: bold;
    padding-top: 67px;
    margin-left: 36px;
}

.home-link:link{
    text-decoration: none;
    color: black;
}

.home-link:visited{
    color: black;
}

.home-link:hover{
    text-decoration: underline;
}

.click-on-menu{
    font-family: 'Amaranth';
    color: black;
    font-size: 50px;
    padding-top: 44px;
    margin-left: 36px;
}

.menu-link:link{
    text-decoration: none;
    color: black;
}

.menu-link:visited{
    color: black;
}

.menu-link:hover{
    text-decoration: underline;
}
.click-on-order{
    font-family: 'Amaranth';
    color: black;
    font-size: 50px;
    padding-top: 44px;
    margin-bottom: 150px;
    margin-left: 36px;
}

.copyright-statement{
    font-family: 'Amaranth';
    color: black;
    font-size: 30px;
    padding-top: 638px;
    padding-right: 36px;
    padding-left: 36px;
}

.copyright-link{
    text-decoration: none;
    color: black;
}
.copyright-link:hover{
    text-decoration: underline;
}

.copyright-link:visited{
    text-decoration: none;
}

.header-title-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo-column{
    display: flex;
    flex-direction: column;
}

.header-logo{
    margin-top: 23px;
    margin-right: 22px;
    margin-left: 250px;
}

.logo-link:link{
    color: white;
    text-decoration: none;
}

.logo-link:visited{
    color: white;
    text-decoration: none;
}
.logo-credit{
    color:white;
    margin-left: 220px;
    font-size: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
}

.header-title{
    display: flex;
    flex-direction: row;
    font-family: 'Amarante';
    color: white;
    font-size: 120px;
    margin-left: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
}

.main-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blurb{
    font-family: 'Amaranth';
    color: white;
    font-size: 48px;
    margin-left: 350px;
    background-color: #B39132;
    padding-right: 42px;
    padding-left: 42px;
    border-radius: 100px;
}

h1 {
    font-family: 'Amarante';
    color: white;
    font-size: 90px;
    margin-left: 450px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
    margin-bottom: 5px;

}

h2{
    font-family:'Amaranth';
    font-size: 55px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
    margin-top: 5px;
    margin-left: 350px;
}

h2:hover{
    cursor: pointer;
    text-decoration: underline;
}

.order-button{
    font-family: 'Amaranth';
    color: white;
    font-size: 100px;
    margin-left: 300px;
    margin-bottom: 15px;
    background-color: #B39132;
    padding-top: 30px;
    padding-right: 19px;
    padding-bottom: 30px;
    padding-left: 19px;
    border-radius: 40px;
    border: 5px solid white;
}

.order-button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

h3{
    font-family: 'Amarante';
    color:white;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 420px;
    font-size: 80px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
}

h4{
    font-family:'Amaranth';
    font-size: 55px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
    margin-top: 5px;
    margin-left: 350px;
    margin-bottom: 60px;
}

.bg-img-credit{
    color:white;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 340px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
}